.banner
    overflow: hidden
    margin-bottom: 40px
    background-color: #004000
    color: #ddd

    .carousel
        &-inner
            overflow: visible

            > .item
                &:after,
                &:before
                    content: ""
                    display: table

                &:after
                    clear: both

        &-control
            top: 50%
            width: 30px
            height: 30px
            margin-top: -15px
            margin-left: 0
            font-size: 30px
            text-shadow: none
            background: none
            opacity: .2
            transition: opacity .2s

            .glyphicon
                display: block
                top: 0
                width: 1em
                height: 1em

            &:hover,
            &:focus
                opacity: 1

            &.right
                margin-left: 30px

        &-indicators
            display: none
            bottom: 0
            width: auto
            margin-left: 0
            margin-bottom: 0
            text-align: left
            font-size: 0
            line-height: 0

            li
                width: 80px
                height: 7px
                margin: 0
                border: 0
                border-radius: 0
                background-color: #ddd
                opacity: .2
                transition: height .2s, opacity .2s
                will-change: height opacity

            li:hover,
            li:focus,
            .active
                height: 10px
                opacity: 1

    &-col-a
        display: none

    &-col-b
        font-size: 0

    &-content
        display: inline-block
        padding: 40px
        vertical-align: middle
        font-size: 18px
        font-weight: 300
        line-height: 1.3
        text-align: center

    &-img
        display: block
        float: right

    &-heading
        margin-top: 0
        margin-bottom: 0
        font-size: 1.6em
        font-weight: 700
        line-height: inherit
        color: #fff

    &-text
        margin-top: 20px


    @media (min-width: 768px)
        &-content
            font-size: 20px

    @media (min-width: 992px)
        .carousel
            &-control
                top: 50px
                left: 60%
                right: auto
                bottom: auto
                margin-top: 0

            &-indicators
                display: block
                left: 60%

        &-col-a,
        &-col-b
            float: left
            height: 350px

        &-col-a
            display: block
            width: 60%

        &-col-b
            width: 40%
            line-height: 350px

        &-content
            padding-left: 0
            padding-right: 0
            text-align: left

        &-heading
            margin-top: 50px

    @media (min-width: 1200px)
        &-content
            font-size: 22px

        &-heading
            margin-top: 60px
