.localization-flag
    display: inline-block
    width: 21px
    height: 15px
    background: url(../images/localization-flags.jpg) no-repeat

    &-pt
        background-position: 0 0

    &-en
        background-position: -21px 0

    &-es
        background-position: -42px 0

.content
    padding-top: 20px
    padding-bottom: 20px

    .product.row
        padding-top: 20px
        padding-bottom: 20px

        &:nth-child(odd):not(.bg-primary)
            background-color: #eee

        &.bg-primary
            margin-top: 40px

            a
                color: inherit

        p
            margin-top: 0
            margin-bottom: 0
            font-size: 14px
            font-weight: 400
            line-height: 20px

            a
                &:hover,
                &:focus
                    text-decoration: none

                + a
                    margin-left: 10px

            + p
                margin-top: 5px

        .title
            font-size: 16px
            font-weight: 700
            text-align: right

            sup
                font-size: 12px

    .col-md-5 img
        float: right
        margin-bottom: 25px

    .col-md-12 img
        margin: auto

    h2
        display: block
        max-width: 700px
        font-size: 18px
        font-weight: 700
        margin: 10px auto 60px
        text-align: center

    h3
        text-align: right
        font-size: 26px
        font-weight: 700
        margin: -12px  0 25px
        display: block
        max-width: 287px
        // max-width: 360px
        float: right

    p, li
        font-weight: 300
        font-size: 16px
        line-height: 26px

    p
        margin: -7px 0 23px

        &.slogan,
        &.subtitle
            font-size: 22px
            line-height: 30px
            font-weight: 700
            margin: 25px 0 50px

    ul li
        list-style: disc
        display: list-item
        margin-left: 20px

        &.title
            font-weight: 700
            list-style: none
            margin: 0 0 16px 0

    .address span
        display: block

        &.phone
            font-weight: 700

footer
    margin-top: 50px

    .phone
        color: #fff
        display: block
        font-size: 20px

    .top
        background: #727272
        padding: 20px 0

        nav, .logo
            display: block
            float: left
            margin-top: 30px

        nav
            padding-top: 15px

            a
                display: block
                color: #999
                font-size: 11px
                font-weight: bold
                float: left
                padding-right: 8px
                margin-left: 8px
                border-right: solid 1px
                text-align: center

                &:last-child
                    border-right: none

        .email
            color: #999
            font-size: 14px
            font-weight: bold
            float: right
            margin-bottom: 5px

    .bottom
        padding: 20px
        color: #727272
        text-align: center

@media screen and (max-width: 991px)
    .content
        .col-md-5 img
            float: none

@media screen and (min-width: 992px)
    .content .product.row
        margin-left: 0
        margin-right: 0

@media screen and (max-width: 768px)
    .content
        h3
            text-align: left
            max-width: 100%

        img
            margin: 0 auto 15px
            float: none
