.header
    overflow: hidden
    background-color: #fff

    .container
        position: relative

    &-bar
        position: relative
        padding: 15px
        font-size: 13px
        line-height: 1.3
        text-align: center
        color: #999

        &:before
            content: ""
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            background-color: #f5f5f5

        > *
            position: relative

        a
            color: inherit
            text-decoration: none

            &:hover,
            &:focus
                color: #666

        &-email,
        &-phone-list
            .glyphicon
                display: none

        &-phone-list
            font-weight: 600

            &-item + &-item:before
                content: " / "
                color: #ccc

        &-localization-nav
            margin-top: 5px
            font-size: 0

            &-item
                display: inline-block
                padding: 1px
                border: 1px solid #ddd
                transition: border-color .1s
                will-change: border-color

                // &:focus,
                // &:hover,
                // &.active
                //     border-color: $brand-primary

                // &.active
                //     background-color: $brand-primary

            &-item + &-item
                margin-left: 5px

            .localization-flag
                display: block

    &-brand
        position: relative
        margin-top: 0
        margin-bottom: 0
        padding-top: 20px
        padding-bottom: 20px

        &:before,
        &:after
            content: ""
            display: table

        &:after
            clear: both

        &-logo
            display: block
            float: left

            img
                display: block
                max-width: 100%
                height: auto

    &-brand &-nav-toggle
        position: absolute
        top: 50%
        right: 0
        width: 3em
        height: 3em
        margin-top: -1.5em
        line-height: 3em
        background-color: #eee
        border-radius: 50%
        color: inherit

        &:focus
            background-color: #ccc
            outline: none

        .glyphicon
            display: block

    &-nav
        text-align: center

        &:before,
        &:after
            content: ""
            display: block
            height: 20px

        &:before
            border-top: 1px solid #eee

        &-item
            display: block
            font-size: 14px
            font-weight: 700
            color: #666

            &:hover,
            &:focus
                text-decoration: none

            &.active
                color: #999

    @media (min-width: 992px)
        .container
            padding-top: 25px
            padding-bottom: 15px

        &-bar
            position: absolute
            top: 0
            right: -5px
            padding-left: 50px
            padding-right: 50px
            text-align: left

            &:before
                transform: skew(-35deg)

            &-email,
            &-phone-list,
            &-localization-nav
                display: inline-block
                vertical-align: middle

            &-email,
            &-phone-list
                padding-left: 38px

                .glyphicon
                    display: block
                    position: absolute
                    top: 50%
                    left: 0
                    width: 32px
                    height: 32px
                    margin-top: -16px
                    line-height: 32px
                    text-align: center
                    color: #fff
                    border-radius: 50%
                    background-color: #ddd

            &-phone-list,
            &-localization-nav
                margin-left: 40px

            &-phone-list
                &-item
                    display: block

                &-item + &-item:before
                    display: none

            &-localization-nav
                margin-top: 0

        &-brand
            float: left

        &-brand &-nav-toggle
            display: none

        &-nav
            display: block
            float: right
            margin-top: 83px

            &:before,
            &:after
                content: none

            &-item
                float: left
                position: relative

                &.active
                    color: #666

                    &:after
                        content: ""
                        position: absolute
                        left: -10px
                        right: -10px
                        bottom: -33px
                        border-top: 4px solid #213674

            &-item + &-item
                margin-left: 10px

    @media (max-width: 1199px)
        .container
            width: auto !important;

    @media (min-width: 1200px)
        &-nav
            &-item + &-item
                margin-left: 25px
